* {
  background-color: #ace5ee;
  scrollbar-color: #454a4d #202324;
  color: #fff;
}

body {
  font-family: 'Rubik', sans-serif;
}

.adaugare{
  margin-left: 18px;
  margin-right: 18px;
  width: 10%;
  border: none;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}

.d-bl {
  background-color: rgb(38, 42, 43);
}

.login-form {
  background-color: rgb(38, 42, 43);
  width: 550px;
  margin: 0px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(109, 107, 107, 0.2);
}

.login-form h1 {
  padding: 0px 30px 0 30px;
  font-weight: 400;
  font-size: 50px;
}

.login-form .content {
  padding: 35px;
  text-align: center;
}

.login-form .input-field {
  padding: 12px 5px;
}

.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.login-form .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input::-moz-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input::placeholder {
  text-transform: uppercase;
}

.login-form .input-field input:focus {
  border-color: rgb(0, 0, 0);
}

.login-form a.link {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
}

.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.btn {
  margin-left: 18px;
  margin-right: 18px;
  width: 100%;
  border: none;
  padding: 25px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #5b5b5c;
  color: #ffffff;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.login-form .action button:hover {
  background: #d8d8d8;
}

.login-form .action button:nth-child(2) {
  background: #2F925E;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}

.login-form .action button:nth-child(2):hover {
  background: #3CB878;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 15px;
}

.alert-warning {
  padding: 20px;
  background-color: #ffb300;
  /* Orange */
  color: white;
  margin-bottom: 15px;
}
.alert-success {
  padding: 20px;
  background-color: #00ff22;
  /* Green */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  background-color: inherit;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.container{
  margin-left: 40%;
  margin-top: 40%;
}

.no-cont{
  position: relative;
  margin-left : 40px;
}

input:invalid {
  border: 2px solid rgb(156, 78, 78);
  position: relative;
}

input:valid {
  border: 2px solid rgb(58, 55, 55);
  position: relative;
}

img {
  padding: 0;
  max-width: 12%;
  max-height: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }



/*

#3CB878
#35A169
#2F925E
#635F5A

*/